#ac {
    background-color: gray;
    width:20vw;
    height:22vh;
}

#cc {
    background-color:rgb(192, 255, 255);
    width: 20vw;
    height: 22vh;
}

#os {
    background-color:blanchedalmond;
    width: 20vw;
    height: 22vh;
}

#cpni {
    background-color:honeydew;
    width: 20vw;
    height: 18vh;
}